body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 50%;
    margin: 40px auto;
    background-color: #333;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: #3e8e41;
}



.logo {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: 50%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #3e8e41;
}

input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 355px;
    height: 40px;
    background-color: #3e8e41;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.forgot-password, .register {
    color: #3e8e41;
    text-decoration: none;
}

.forgot-password:hover, .register:hover {
    color: #3e8e41;
}